$colors: (
  "common": (
    "white": #ffffff,
    "black": #000,
    "gray": #f8f9fa,
  ),
  "theme": (
    "primary": #003b5c,
    "secondary": #d4af37,
  ),
  "heading": (
    "primary": #1f242c,
    "secondary": #262b35,
  ),
  "text": (
    "body": #555555,
    "1": #01103d,
  ),
  "border": (
    "primary": #e6e6e6,
    "secondary": #f0f2f4,
  ),
);

$white: #ffffff;
$black: #0000;
$theme-primary: #003b5c;
$border-primary: #e6e6e6;
